html { 
  background: url("https://image.freepik.com/free-photo/wood-table-top-blurred-kitchen-background_36051-232.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  font-family:sans serif;
}
.payment-form{
  max-width: 500px;
  margin:2rem auto;
  border:2px solid;
  padding:2rem;
  border-radius: 5px;
  background-color:rgba(0,0,0,0.2);
  font-weight: bolder;
  font-size: large;
}
form label{
  display:block;
  padding:2rem 0;
}
form input,form textarea{
  display:block;
  width:100%; 
  padding:.5rem;
  border-radius: 5px;
}
form select{
  width:100%;
  display:block;
  padding:.5rem;
  border-radius: 5px;
}
.button {
  display: inline-block;
  border-radius: 7px;
  background-color:rgb(42, 43, 42);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  padding: 20px;
  width: 210px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button-div{
  display: flex;
  justify-content: center;
}

table{
  width: 90%;
}

#phead{
  width: 100%;
  text-align: right;
  font-weight: bolder;
  font-size: 30px;

}

#fname, #quantity, #state, #city, #lname, #mobile, #password{
 width: 190px;
}
