@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Times New Roman;
  text-decoration: none;
}
.header{
  background-color:rgb(0,0,0,0.7);
  background-image:url("images/header.jpg");
  background-blend-mode:multiply;
  background-size: cover;
  padding:25px;
}
.name{
  font-family: 'Londrina Solid', cursive;
  color:#FF9C00;
  font-size:2.5em;
}
.header-name{
  padding:40px 40px 40px 40px;
  text-align:center;
  font-size:80px;
}
.navigation ul{
  margin:none;
  padding:none;
  text-align:center;
}
.navigation li{
  color:white;
  display: inline-block;
  padding:5px 20px 5px 20px;
}
.header-nav li:hover{
  color:orangered;
}
.header-nav:hover{
  background-color:rgb(0,0,0,0.3);
}
.footer{
  background-color:rgba(45, 87, 53, 0.8);
}
.footer-name{
  text-align:center;
}